.header {
  display: flex;
  align-items: center;
  height: 100px;
  min-height: 120px;

  &__return-link .return-icon {
    font-size: 1.5em;
    margin-right: 20px;
    cursor: pointer;
    color: $color-white;
  }

  &__site-logo {
    img[disabled] {
      display: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 280px;
    background-color: $color-black;
    color: $color-white;

    &-img {
     &.primary {
       width: 190px;
       max-width: 100%;
     }
     &.secondary {
       width: 28px;
     }
     &.terciary {
       position: relative;
       margin-left: 20px;
       top: -2px;
       width: 140px;
     }
    }

    .entry {
      text-align: center;
    }

    &-text {
     // font-size: 1.5em;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
      line-height: 1.5em;
      position: relative;
      top: 6px;
      left: 2px;
      font-size: 0.85em;
    }
    &-text--light {
      line-height: 1.5em;
      position: relative;
      font-weight: 400;
      display: inline-block;
      font-size: 0.85em;
      top: -6px;
    }
  }
  &__search {
    margin-left: 16px;
    margin-right: 16px;
    align-self: flex-start;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 24px;

    &-patient {
      display: flex;
      align-items: center;

      .patient-icon {
        font-size: 2em;
        color: $color-blue;
        //color: $color-uw-icon;
        margin-right: 16px;
        position: relative;
        top: -.75em;
      }

      .patient-name {
        //font-weight: normal;
        font-weight: 600;
        line-height: 1em;
        margin: 0;
        //color: $color-black;
      }

      .patient-demographics {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        color: $color-gray;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.025em;
        line-height: 1.45;
        margin-top: 6px;
        .patient-age { margin-right: 16px; }
        .patient-occupation {
          font-weight: 500;
          font-size: 0.95em;
        }
      }
      .patient-info {
        //border-right: 1px solid $color-divider;
        padding-right: 8px;
      }
    }

    &-dashboard {
      display: flex;
      align-items: center;

      .entries {
        display: flex;
        align-items: center;
        margin: 0 12px;
        img {
          width: 140px;
        }

        &-count {
          font-size: 3em;
          font-weight: 700;
          margin-right: 20px;
          //color: $color-black;

          &.flagged { color: $color-red-dark; }
        }

        &-label {
          font-weight: 600;
          color: $color-gray;
          font-size: 1.2em;
          width: 110px;
          line-height: 1.1em;
        }
      }
    }
  }
}
