.report {
  padding: 0;
  margin: auto;
  &.summary {
    height: 100%;
    background-color: $color-gray-lightest;
  }
  .summary__nav-wrapper {
    .summary__nav {
      padding: 72px 0 20px 0px;
    }
  }
  .summary__display {
    padding: 16px;
    @media (min-width: 1200px) {
      max-width: 1120px;
      margin: auto;
    }
    .sections {
      margin-top: 24px;
      .section {
        min-height: 72px;
        background: $color-white;
        padding: 16px 20px;
        .sub-section__header {
          padding-top: 0;
        }
      }
      .sub-section:not(.sub-section-notitle):first-of-type {
        margin-top: 0;
      }
      .sub-section {
        margin-top: 8px;
        .link-container {
          display: flex;
          align-items: center;
          margin: 0;
          margin-right: 8px;
          .icon {
            margin-left: 12px;
            transition: transform 350ms ease 50ms;
            color: $color-blue;
          }
          .info-icon {
            margin-left: 0;
          }
          .date {
            margin-left: 4px;
          }
          &:hover {
            cursor: pointer;
          }
          &.active {
            .icon {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
  .sub-section {
    border: 1px solid $color-gray-lighter;
    margin-bottom: 8px;
    &__header {
      padding: 0 20px 16px !important;
    }
    &__header__name {
      display: flex;
      align-items: center;
    }
  }

  .table {
    -webkit-border-horizontal-spacing: 20px;
    .flex {
      gap: 4px;
    }
    .icon-container {
      position: relative;
      top: 6px;
    }
    caption {
      font-weight: 700;
      margin-top: 4px;
      margin-bottom: 8px;
      font-size: 20px;
      text-align: left;
    }
    th {
      text-align: left;
      vertical-align: middle;
      padding-right: 4px;
      border-bottom: 2px solid $color-blue;
      padding: 4px 8px 2px 0;
      font-size: 0.95em;
    }
    td {
      padding-top: 8px;
    }
  }
  .response-table {
    font-size: 0.9em;
    height: 0;
    overflow: hidden;
    margin: 8px 24px 24px;
    border: 2px solid $color-blue;
    border-collapse: collapse;
    transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    &.active {
      height: 100%;
    }
    th {
      text-align: left;
      border-bottom: 1px solid $color-gray-lighter;
      padding: 8px;
      &:not(:last-of-type) {
        border-right: 1px solid $color-gray-lighter;
      }
      &:first-of-type {
        width: 35%;
      }
    }
    td {
      padding: 4px 8px;
      &:not(:last-of-type) {
        border-right: 1px solid $color-gray-lighter;
      }
    }
    tr:not(:last-of-type) {
      td {
        border-bottom: 1px solid $color-gray-lighter;
      }
    }
    tfoot {
      td {
        padding: 16px 8px;
        border-top: 1px solid $color-gray-lighter;
      }
    }
  }
  .panel-container {
    display: flex;
    width: 100%;
    min-height: 80px;
    gap: 16px;
    flex-wrap: wrap;
    .panel {
      border: 2px solid $color-black;
      padding: 16px;
      display: flex;
      flex-direction: column;
      background: $color-white;
      gap: 2;
      flex: 1;
      &__item {
        border: 1px solid $color-gray-lighter;
        padding: 8px;
        .table {
          width: 100%;
          td {
            padding: 2px;
            font-size: 0.95em;
          }
        }
        td:not(:first-of-type) {
          text-align: center;
          vertical-align: bottom;
        }
      }
    }
  }
  .graph {
    .legend {
      margin: 0 auto 8px auto;
      border: 2px solid $color-gray-lighter;
      width: 72px;
      padding: 8px 16px;
      font-size: 0.9rem;
      &__item {
        font-weight: 600;
        .icon {
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-right: 8px;
          border-radius: 100%;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }
    .axis-label {
      font-size: 0.85rem;
      font-weight: 600;
      fill: $color-black;
    }
    .axis-group {
      text {
        font-size: 0.85rem;
        font-weight: 600;
      }
      .axis.left {
        text {
          transform: translateX(-4px);
        }
      }
      .axis.bottom {
        text {
          transform: translateY(38px) translateX(-14px) rotate(-90deg);
        }
      }
    }
  }
  .grid {
    path {
      stroke: #ccc;
    }
    line {
      stroke: #ccc;
    }
  }
}
.no-entries {
  font-style: italic;
  color: #58676a;
}