$selector-box-shadow: 0 2px 2px #383e40;
.report {
  padding: 0;
  margin: auto;
  &.summary {
    height: 100%;
    background-color: $color-gray-lightest;
    border-top: 4px solid $color-blue;
  }
  .summary__nav {
    padding: 72px 0 20px 0px;
    .title-text-container {
      visibility: hidden;
      width: 0;
      transition: visibility 50ms ease;
    }
    .toc-list-item {
      width: 48px;
      height: 64px;
      overflow: hidden;
    }
  }
  .open {
    .summary__nav {
      .title-text-container {
        visibility: visible;
        width: 100%;
      }
      .toc-list-item {
        width: calc(100% - 8px);
        height: auto;
      }
    }
  }
  .summary__display {
    padding: 8px;
    // @media (min-width: 1200px) {
    //   max-width: 1160px;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
    .sections {
      height: 100%;
      background-color: #FFF;
      .section {
        min-height: 72px;
        background: $color-white;
        padding: 8px;
      }
      .sub-section {
        border: 1px solid $color-gray-lighter;
        margin-bottom: 8px;
        margin-top: 8px;
        &__header {
          padding: 0 20px 12px !important;
        }
        &__header__name {
          display: flex;
          align-items: center;
        }
        &:not(.sub-section-notitle):first-of-type {
          margin-top: 0;
        }
        .table {
          padding-left: 16px;
          padding-right: 16px;
        }
        .no-entries {
          padding: 8px 16px 16px;
        }
        .link-container {
          display: flex;
          align-items: center;
          margin: 0;
          margin-right: 8px;
          .icon {
            margin-left: 12px;
            transition: transform 350ms ease 50ms;
            color: $color-blue;
          }
          .info-icon {
            margin-left: 0;
            font-size: 0.95rem;
          }
          .date {
            margin-left: 4px;
          }
          &:hover {
            cursor: pointer;
          }
          &.active {
            .icon {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
  .table {
    .flex {
      gap: 4px;
    }
    .icon-container {
      position: relative;
      top: 6px;
    }
    caption {
      font-weight: 700;
      margin-top: 4px;
      margin-bottom: 8px;
      margin-left: 8px;
      font-size: 20px;
      text-align: left;
    }
    th {
      text-align: center;
      vertical-align: bottom;
      padding-right: 4px;
      border-bottom: 2px solid $color-blue;
      padding: 4px 8px 2px 0;
      font-size: 0.95em;
    }
    td {
      padding-top: 8px;
      vertical-align: bottom;
    }
  }
  .response-table {
    font-size: 0.9em;
    height: 0;
    overflow: hidden;
    margin: 8px 24px 24px;
    border: 2px solid $color-blue;
    border-collapse: collapse;
    transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    &.active {
      height: 100%;
    }
    th {
      text-align: left;
      border-bottom: 1px solid $color-gray-lighter;
      padding: 8px;
      &:not(:last-of-type) {
        border-right: 1px solid $color-gray-lighter;
      }
      &:first-of-type {
        width: 35%;
      }
    }
    td {
      padding: 4px 8px;
      &:not(:last-of-type) {
        border-right: 1px solid $color-gray-lighter;
      }
    }
    tr:not(:last-of-type) {
      td {
        border-bottom: 1px solid $color-gray-lighter;
      }
    }
    tfoot {
      td {
        padding: 16px 8px;
        border-top: 1px solid $color-gray-lighter;
      }
    }
  }
  .panel-container {
    display: flex;
    width: 100%;
    min-height: 80px;
    gap: 4px;
    flex-wrap: wrap;
    .panel {
      border: 2px solid $color-black;
      padding: 8px;
      display: flex;
      flex-direction: column;
      background: $color-white;
      gap: 2;
      flex: 1 1;
      &.graph {
        display: flex;
        flex: 1.35 1 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        .survey-graph {
          flex: 1 1 100%;
          max-width: 100%;
        }
        .no-entries {
          flex: 1 1;
          padding: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      @media (min-width: 768px) {
        &.graph {
          .survey-graph {
            max-width: 60%;
          }
        }
      }
      @media (min-width: 1200px) {
        &.graph {
          flex: 1.35 1;
          .survey-graph {
            flex: 3 1;
            max-width: 100%;
          }
          // .legend {
          //   flex: 1 1;
          // }
        }
      }
      @media (min-width: 1400px) {
        &.graph {
          flex: 1.1 1;
        }
      }
      // @media (min-width: 669px) {
      //   &.graph {
      //     max-width: 80%;
      //   }
      // }
      // @media (min-width: 992px) {
      //   &.graph {
      //     max-width: 40%;
      //   }
      // }
      // @media (min-width: 1200px) {
      //   & {
      //     flex: 1 1 0;
      //   }
      // }
      &.no-entries {
        border: 0;
        padding: 0;
      }
      &__item {
        border: 1px solid $color-gray-lighter;
        padding: 8px;
        .table {
          width: 100%;
          padding-left: 4px;
          padding-right: 4px;
          td {
            padding: 2px;
            font-size: 0.95em;
            white-space: nowrap;
            &.empty {
              min-width: 40px;
            }
          }
        }
        td:not(:first-of-type) {
          text-align: center;
          vertical-align: bottom;
        }
      }
    }
  }
  .graph {
    .legend {
      margin: 0 auto;
      border: 1px solid #d8d8d8;
      min-width: 120px;
      padding: 12px 12px 8px;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      grid-gap: 8px;
      gap: 8px;
      &__item {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        .select-icons-container {
          display: flex;
          gap: 6px;
          align-items: center;
        }
        .icon {
          top: -4px;
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-right: 8px;
          border-radius: 100%;
        }
        .select-icon {
          border: 0;
          display: inline-block;
          padding: 0;
          font-weight: 300;
          background-color: transparent;
          background-image: none;
          border-radius: 50%;
          border: 1px solid;
          width: 20px;
          height: 20px;
          cursor: pointer;
          &:not([disabled]) {
            color: $color-blue;
            font-weight: 600;
          }
          &[disabled] {
            color: $color-disabled;
          }
        }
      }
    }
    .axis-label {
      font-size: 0.85rem;
      font-weight: 600;
      fill: $color-black;
    }
    .axis-group {
      text {
        font-size: 0.85rem;
        font-weight: 600;
      }
      .axis.left {
        text {
          transform: translateX(-4px);
        }
      }
      .axis.bottom {
        text {
          transform: translateY(38px) translateX(-14px) rotate(-90deg);
        }
      }
    }
  }
  .grid {
    path {
      stroke: #ccc;
    }
    line {
      stroke: #ccc;
    }
  }
  .no-entries {
    font-style: italic;
    color: #58676a;
  }
}
