.summary {
  display: flex;
  min-height: calc(100vh - 100px);

  .error {
    color: $color-red-darker;
    font-weight: 600;
  }

  &__nav {
    color: $color-white;
    padding: 38px 0 20px;
    width: 300px;
    z-index: 1;
    transition: opacity 450ms ease 100ms;

    .toc-list.is-collapsible {
      .toc-list-item {
        margin-bottom: 4px;
        .toc-link {
          font-size: 0.9em;
          //padding: 5px 8px 5px 42px;
          padding: 5px 8px 5px 40px;
          line-height: 1.45;
          width: 75%;
          max-width: 100%;
          .info-icon {
            display: none;
          }

          .flag-nav {
            font-size: 0.8em;
            margin-right: 10px;

            &.flagged {
              color: $color-red;
            }
          }
        }
      }
    }

    .toc-list {
      padding: 0;
      list-style-type: none;

      &-item {
        .toc-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 12px;
          font-weight: 600;
          font-size: 1.05em;
          line-height: 1.45;
          transition: all 300ms ease;

          .info {
            display: block;
            font-size: 14px;
            opacity: 0.8;
          }
          &.is-active-link,
          &:hover {
            //background-color: $color-uw-light;
            background-color: $color-gray-light;
          }

          .section__header-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 20px;
            width: 20px;
            fill: $color-white;
            margin-right: 12px;
            &.sectionIcon {
              min-width: 20px;
              min-height: 20px;
            }
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.9em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            display: none;
          }
        }
      }
    }
  }

  &__nav-wrapper {
    min-height: calc(100vh - 100px);
    width: 52px;
    min-width: 52px;
    background-color: $color-gray-dark;
    transition: all 350ms ease-in-out;
    .summary__nav {
      opacity: 0;
      z-index: -1;
    }
    .close {
      position: fixed;
      top: 144px;
      color: #FFF;
      left: 18px;
      font-weight: 500;
      opacity: 0.4;
      z-index: 5;
      font-weight: 600;
      font-size: 1em;
      cursor: pointer;
      transition: left 350ms ease, transform 750ms cubic-bezier(0.165, 0.84, 0.44, 1);
      &:hover {
        opacity: 1;
      }
      &::before {
        content: '\203A\203A';
        display: block;
        font-size: 28px;
        left: 0;
        top: 0;
        position: absolute;
      }
    }
    &.open {
      width: 300px;
      min-width: 300px;
      .summary__nav {
        opacity: 1;
        z-index: 1;
        padding: 62px 0 20px 0px;
      }
      .close {
        // left: 272px;
        left: 16px;
        transform: translateX(0);
        transform-origin: center;
        &::before {
          content: "\2039\2039";
          display: block;
        }
      }
    }
    .is-position-fixed ~ .close {
      top: 128px;
    }

    //background-color: $color-uw-dark;
  }

  &__display {
    flex: 1;
    background-color: $color-gray-lightest;
    z-index: 10;

    &-title {
      background-color: $color-blue;
      //background-color: $color-uw-gray;
      color: $color-white;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      padding: 10px;

      svg {
        margin-right: 20px;
      }
    }

    .sections {
      .Collapsible {
        &__trigger {
          cursor: pointer;

          &.is-open {
            .chevron {
              transform: rotateZ(90deg);
            }
          }
        }

        .section__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-black;
          //background-color: $color-gold;
          color: $color-white;
          padding: 10px 20px;
          font-weight: 400;
          margin: 0;
          height: 32px;

          &-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 25px;
            width: 25px;
            margin-right: 15px;
            fill: $color-white;
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.7em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            transition: transform 500ms;
          }
        }
      }
      .MME-svg-container {
        position: relative;
        height: 0;
        width: 560px;
        padding: 0;
        padding-bottom: 67%;
      }
      .MMEChartSvg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
      .MMEgraph {
        margin-top: 16px;
        margin-bottom: 24px;
        max-width: 100%;
        padding-bottom: 16px;
        &.no-entry {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          .title {
            margin-left: 0;
          }
          .no-entry {
            margin: 32px;
            padding: 52px;
            background: $color-gray-lightest;
            position: relative;
          }
        }
        .title {
          margin-left: 42px;
          font-weight: 600;
          font-size: 20px;

        }
        .axis-group {
          text {
            font-size: 12px;
            font-weight: 600;
          }
          .axis.left {
            text {
              transform: translateX(-4px);
            }
          }
          .axis.bottom {
            text {
              transform: translateY(38px) translateX(-14px) rotate(-90deg);
            }
          }
        }
        legend {
          margin-left: 42px;
          margin-top: 8px;
          font-size: 14px;
          font-weight: 600;
          .icon {
            width: 20px;
            height: 4px;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            top: -4px;
            &.CDC {
              border-bottom: 2px $color-orange-light solid;

            }
            &.WA {
              border-bottom: 2px $color-red-darker solid;
            }
          }
        }
      }

      .sub-section__panel {
        display: block;
        justify-content: flex-start;
        align-items: center;
        color: $color-black;
        flex-wrap: wrap;
        padding: 0 16px 8px;
        .sub-section__infopanel {
          border: 2px solid;
          padding: 12px;
          //margin-bottom: 16px;
          //margin-top: 16px;
          max-width: 360px;
          .panel-title {
            font-weight: 700;
            margin-top: 4px;
            margin-bottom: 16px;
            font-size: 20px;
          }
          .title {
            font-weight: 700;
          }
          .content {
            padding:8px;
            font-size: 0.95em;
          }
          .stats-container {
            background: $color-gray-lightest;            ;
            padding: 16px;
            .divider {
              display: inline-block;
              margin-left:8px;
              margin-right:8px;
            }
            .content {
              padding-left: 20px;
            }
          }
          .alerts-container {
            margin-top: 16px;
            a {
              text-decoration: none;
              font-weight: 600;
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              color: $color-black;
              &:hover {
                color: $color-black-darker;
                cursor: pointer;
              }
            }
            .flag {
              color: $color-red-darker;
              margin-right: 8px;
              font-size: 28px;
              min-width: 28px;
              margin-top: 4px;
              &:hover {
                color: $color-red;
                cursor: pointer;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .sub-section__panel {
          display: flex;
          flex-wrap:nowrap;
          .panel-overview {
            margin-left: 24px;
          }
          .panel.graph {
            flex-basis: 60%;
            align-self: stretch;
          }
        }
      }
      @media (min-width: 1200px) {
        .sub-section__panel {
          .panel.graph {
            flex-basis: 60%;
          }
        }
      }
      @media (min-width: 1400px) {
        .sub-section__panel {
          .panel.graph {
            flex-basis: 52.5%;
          }
        }
      }

      .sub-section {
        background-color: $color-white;
        box-shadow: 1px 2px 2px $color-box-shadow;
        //margin: 16px 20px;
        margin: 0;

        &:not(.sub-section-notitle) {
          margin: -12px 0 0;
          &:first-of-type {
            margin: -20px 0 0;
          }
        }

        .info-icon {
          //margin-left: 5px;
          margin-left: 20px;
          text-decoration: underline;
          opacity: 0.9;
          font-size: 0.87em;
          color: $color-blue;
          //color: $color-uw-icon;
          cursor: pointer;
        }
        .video-container {
          margin-top: 12px;
        }
        .video-link {
          text-decoration:underline;
          cursor: pointer;
          font-weight: 600;
          color: $link-color;
        }
        .link-container {
          .info {
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .link-toggle {
          margin-left: 6px;
          cursor: pointer;
          opacity: 0.9;
          vertical-align: -0.17em;
          font-size: 0.85em;
          color: $link-color;
          transform-origin: center;
          transform: rotate(-90deg);
          transition: transform 350ms ease;
          &.open {
            transform: rotate(0)
          }
        }
        .no-entries {
          padding: 0 16px 8px;
          font-style: italic;
          color: $color-gray-light;
          margin-left: 24px;

          .flag-text {
            font-style: normal;
            margin-top: 8px;
            margin-left: 24px;
            padding: 8px 0;
            display: inline-block;
            color: $color-gold;
            font-size: 0.95em;
          }
          .guideline-wrapper {
            margin-left: 0;
            padding-bottom: 0;
          }
          .flag-guideline-content {
            .flag {
              color: $color-red;
            }
            margin-top: 12px;
            .guideline-content {
              margin-top: 12px;
              font-style: normal;
              // .CDC .text {
              //   color: $color-orange;
              // }
              // .WA .text {
              //   color: $color-red-darker;
              // }
            }
          }
        }

        &.sub-section-notitle {
          padding-bottom: 8px;
          &:first-of-type {
            padding-top: 12px;
          }
          .sub-section__header {
            display: none;
          }
        }


        &__header {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-gray-lighter;
          padding: 12px 40px;
          font-weight: 700;
          ////color: $color-black;
          .flag-nav {
            display: none;
          }
        }

        .table {
          padding-bottom: 4px;

          .sub-section__table {
            border: 0;

            .sectionList {
              list-style-type: none;
              padding: 0;
              margin: 0;
              b {
                font-weight: 600;
                display: inline-block;
                margin-right: 8px;
              }
            }

            .call-to-action-link {
              display: block;
              font-weight: 600;
              font-size: 1.05em;
            }

            .rt-th:first-child,
            .rt-td:first-child {
              max-width: 35px;
              padding: 0;
            }

            .rt-th:nth-child(2),
            .rt-td:nth-child(2) {
              //min-width: calc(60px + 19vw);
              //max-width: calc(60px + 19vw);
              min-width: calc(60px + 10vw);
              max-width: calc(60px + 10vw);
            }
            &.single-column {
              .rt-th:nth-child(2),
              .rt-td:nth-child(2) {
                min-width: calc(90px + 27vw);
                max-width: calc(90px + 27vw);
              }
            }

            .flag-entry {
              font-size: 1em;
              margin-left: 16px;
              padding-top: 12px;
              color: transparent;
              cursor: default;

              &.flagged {
                color: $color-red;
              }
            }
          }
        }
      }
    }

    .flag-no-entry {
      margin-right: 12px;
      font-size: 1em;
      // &.CDC {
      //   .flag {
      //     color: $color-orange-light;
      //   }
      // }
      // &.WA {
      //   .flag {
      //     color: $color-red-darker;
      //   }
      // }
    }
    .sub-section {
      .guideline-wrapper {
        margin-left: 40px;
        padding-bottom: 20px;
        font-size: 0.95em;
        line-height: 1.5;
        .title {
          font-weight: 600;
        }
      }
    }

    .cdc-disclaimer {
      margin: 8px 24px 0 24px;
      position: relative;
      .title {
        font-weight: 700;
      }
      &.data-source {
        margin-top: 16px;
        .title {
          display: inline-block;
        }
        .content {
          box-shadow: 1px 2px 2px $color-box-shadow;
          border-top: 1px solid $color-gray-lightest;
          border-left: 1px solid $color-gray-lightest;
          line-height: 1.5;
          background-color: #FFF;
          padding: 16px 24px;
          margin-top: 8px;
        }
        .close-button {
          position: relative;
          left: 4px;
          color: $color-blue-darker;
          cursor: pointer;
          font-weight: 600;
          background-color: transparent;
          border: 0;
          //transition: transform 350ms ease;
          //transform: rotate(0);
        }
        &.close {
          // .close-button {
          //   transform: rotate(-90deg);
          // }
          .content {
            display: none;
          }
        }
      }

      a {
        margin: 0 5px;
      }
    }
    .legend {
      margin: 10px 40px 20px 40px;
      line-height: 1.6;
      .icon {
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        position: relative;
        top: -4px;
        margin-right: 8px;
        &.red {
          background: $color-red-darker;
        }
        &.orange {
          background: $color-orange-light;
        }
      }
    }

    .data-provenance {
      font-size: 0.9em;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 4px;
      cursor: pointer;

      .title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        .error {
          vertical-align: top;
        }
      }
      .query-text {
        display: inline-block;
        position: relative;
        top: -4px;
      }
      .content {
        box-shadow: 1px 2px 2px $color-box-shadow;
        background: #FFF;
        transition: all .350s ease-in-out;
        line-height: 0;
        padding: 0 36px;
        overflow:hidden;
        opacity: 0;
        height: 0;
        &.display {
          line-height: 1.55;
          padding: 16px 36px;
          opacity: 1;
          height: auto;
        }
        b {
          font-weight: 600;
        }
        .error {
          margin-top: 8px;
          margin-bottom: 8px;
        }
        .flag-text {
          color: $color-red-darker;
          margin-bottom: 8px;
          font-weight: 600;
        }
      }
      button {
        background-color: transparent;
        color: darken($color-blue, 10%);
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;
        margin-bottom: 8px;
        margin-right: 4px;
        margin-left: 8px;
        opacity: 0.8;
        padding: 0;

        .text {
          color: $color-black;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .dev-tools {
      margin: 24px;

      &__disclaimer {
        margin-top: -20px;
      }

      button {
        background-color: transparent;
        color: darken($color-blue, 10%);
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .cql-errors,
      .fhir-queries,
      .cql-results,
      .pdmp-results,
      .occupation-results,
      .other-results {
        margin-left: 40px;
      }

      .fhir-query,
      .cql-results div,
      .pdmp-results div,
      .occupation-results div,
      .cql-errors table {
        margin-left: 40px;
        background-color: $color-white;
        padding: 10px 20px;
        width: 50vw;
        overflow: scroll;
      }
    }
  }
}
@media (min-width: 768px) {
  .summary__display {
    .sections {
      .MME-svg-container {
        width: 100%;
      }
    }
  }
}

.summary-tooltip {
  font-size: 1em;
}

.red {
  .flagged {
    color: $color-red-darker !important;
  }
}
.orange {
  .flagged {
    color: $color-orange-light !important;
  }
}
