@use "../elements/variables" as *;
.summary {
  display: flex;
  min-height: calc(100vh - 100px);
  position: relative;

  .error {
    color: $color-red-darker;
    font-weight: 600;
  }

  &__nav {
    color: $color-white;
    padding: 46px 0 32px 0px;
    width: $summary-nav-width;
    z-index: 1;
    transition: opacity 450ms ease 100ms;

    &:empty {
      width: 0;
      overflow: hidden;
    }

    &.is-position-fixed {
      top: 124px;
    }

    .toc-list.is-collapsible {
      .toc-list-item {
        margin-bottom: 4px;
        .flags-container {
          display: flex;
          flex-direction: row;
          max-height: 56px;
          flex-wrap: wrap;
          gap: 8px;
          svg {
            font-size: 0.8em;
            width: 16px;
            margin-right: 0;
          }
        }
        .toc-link {
          font-size: 0.75em;
          padding: 4px 0 4px 24px;
          margin-left: 8px;
          line-height: 1.55;
          width: calc(100% - 44px);
          max-width: 100%;
          text-rendering: optimizeLegibility;
          border-bottom: 0;
          .info-icon {
            display: none;
          }

          .flag-nav {
            font-size: 0.8em;
            margin-right: 10px;
            position: relative;
            top: 6px;

            &.flagged {
              color: $color-red;
            }
            &.warning {
              color: $color-warning;
            }
            &.warning-light {
              color: $color-warning-light;
            }
          }
        }
      }
    }

    .toc-list {
      padding: 0;
      list-style-type: none;

      &-item {
        .toc-link {
          display: flex;
          align-items: flex-start;
          text-decoration: none;
          padding: 12px;
          font-weight: 600;
          font-size: 0.8em;
          line-height: 1.45;
          transition: all 300ms ease;
          border-bottom: 0;
          svg {
            stroke: #fff;
            stroke-width: 1px;
          }
          .title-text {
            max-width: 220px;
            line-height: 1.6;
          }
          .info {
            display: block;
            font-size: 14px;
            opacity: 0.8;
          }
          &.is-active-link {
            color: #fff;
            background-color: $color-blue-light;
          }
          &:hover {
            color: #fff;
            //background-color: $color-gray-light;
          }
          &:hover {
            color: #fff;
            //background-color: $color-gray-light;
          }

          .section__header-title {
            display: flex;
            align-items: flex-start;
          }

          svg,
          img {
            min-width: 18px;
            width: 18px;
            fill: $color-white;
            margin-right: 10px;
            &.rx {
              width: 36px;
              margin-right: 0;
            }
            &.sectionIcon {
              min-width: 24px;
              min-height: 24px;
            }
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .info-count-text {
            display: inline-block;
            margin-bottom: 4px;
            margin-right: 4px;
          }
          .info-count-text:empty {
            margin-right: 0;
          }
          .flag-header {
            font-size: 0.9em;
            color: $color-red;
            vertical-align: middle;
            &.warning {
              color: $color-warning;
            }
            &.warning-light {
              color: $color-warning-light;
            }
          }

          .chevron {
            display: none;
          }
        }
      }
    }
  }

  &__nav-wrapper {
    min-height: calc(100vh - 100px);
    width: $summary-nav-base-width;
    background-color: $color-gray-dark;
    transition: all 375ms cubic-bezier(0, 0.52, 0, 1);
    position: relative;
    scrollbar-width: none;
    &:has(.summary__nav:empty) {
      width: 0;
      overflow: hidden;
      background-color: transparent;
      min-width: 0;
    }
    &:has(.is-position-fixed) {
      overflow-y: hidden;
    }
    .summary__nav {
      opacity: 1;
      z-index: 1;
      scrollbar-width: none; /* Firefox 64 */
      -ms-overflow-style: none; /* Internet Explorer 11 */
      &::-webkit-scrollbar {
        display: none;
      }
      .title-text-container {
        visibility: hidden;
        height: 0;
        transition: visibility 350ms ease;
      }
      .toc-list.is-collapsible {
        display: none;
      }
    }

    .close {
      position: absolute;
      top: 8px;
      right: 20px;
      color: #fff;
      opacity: 0.8;
      z-index: 5;
      font-weight: 600;
      font-size: 1.25em;
      cursor: pointer;
      transition: margin 350ms ease, left 350ms ease,
        transform 550ms cubic-bezier(0.165, 0.84, 0.44, 1);
      &:hover {
        opacity: 1;
      }
      &::before {
        content: "\203A\203A";
        font-size: 1.15rem;
        display: table-cell;
        right: 0;
        top: 0;
        position: absolute;
        padding: 0;
        width: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    &.open {
      width: $summary-nav-width;
      min-width: $summary-nav-width;
      .summary__nav {
        opacity: 1;
        z-index: 1;
        min-width: 100px;
        min-height: 50vh;
        .title-text-container {
          display: flex;
          flex-direction: column;
          visibility: visible;
          height: auto;
        }
        .toc-list.is-collapsible {
          display: block;
        }
      }
      .close {
        right: 12px;
        transform: translateX(0);
        transform-origin: center;
        &::before {
          content: "\2039\2039";
          display: table-cell;
          font-size: 1.25rem;
        }
      }
    }
    .is-position-fixed ~ .close {
      top: calc(#{$min-header-height} + 8px);
      left: 0;
      position: fixed;
      z-index: 500;
      &:before {
        left: 8px;
        top: 0px;
      }
    }
    &.open {
      .is-position-fixed ~ .close {
        &:before {
          position: fixed;
          left: calc($summary-nav-width - 40px);
        }
      }
      .is-position-fixed {
        .toc-list {
          background-color: $color-gray-dark;
        }
      }
    }
  }

  &__display {
    flex: 1;
    background-color: $color-gray-lightest;
    z-index: 10;
    max-width: 100%;
    min-height: 70vh;
    @media (min-width: 768px) {
      & {
        max-width: calc(100% - $summary-nav-base-width);
        margin: auto;
      }
    }

    &-title {
      background-color: $color-blue;
      color: $color-white;
      text-align: center;
      font-size: 1.4em;
      font-weight: 400;
      padding: 8px;
      margin-block-start: 0;
      margin-block-end: 0;
      @media (min-width: $sm-media-query-width) {
        & {
          font-size: 1.6em;
        }
      }

      svg,
      img {
        margin-right: 20px;
      }
    }

    .sections {
      .Collapsible {
        &__trigger {
          cursor: pointer;
          &.is-open {
            .chevron {
              transform: rotateZ(90deg);
            }
          }
        }

        .section__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-black;
          color: $color-white;
          padding: 10px 20px;
          font-weight: 400;
          margin: 0;
          height: 32px;

          &-title {
            display: flex;
            align-items: center;
          }

          svg,
          img {
            min-width: 24px;
            width: 24px;
            margin-right: 12px;
            fill: $color-white;
            position: relative;
            top: 2px;
            &.rx {
              width: 48px;
              margin-top: 12px;
              margin-right: -8px;
            }
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.7em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
            &.warning {
              color: $color-warning;
            }
            &.warning-light {
              color: $color-warning-light;
            }
          }

          .chevron {
            transition: transform 500ms;
          }
        }
      }
      .MME-svg-container {
        position: relative;
        height: 0;
        width: 100%;
        min-width: 480px;
        padding: 0;
        padding-bottom: 80%;
        margin-bottom: 8px;
      }
      @media (min-width: $md-media-query-width) {
        & {
          .MME-svg-container {
            width: calc(100% - 120px);
            min-width: 600px;
          }
        }
      }
      @media (min-width: 992px) {
        .MME-svg-container {
          width: 100%;
        }
      }
      @media (min-width: 992px) {
        .MME-svg-container {
          padding-bottom: 80%;
          &.smaller {
            padding-bottom: 65%;
          }
        }
      }
      .MMEChartSvg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
      .MMEgraph {
        margin: 16px auto 8px;
        .circle:hover {
          cursor: pointer;
        }
        &.no-entry {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-right: 24px;
          height: 100%;
          .title {
            margin-left: 0;
            width: 100%;
            text-align: center;
          }
          .no-entry {
            margin: 16px auto 24px;
            padding: 24px;
            background: $color-gray-lightest;
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 1.1em;
            line-height: 1.35;
          }
        }
        @media (min-width: 992px) {
          & {
            max-width: 100%;
          }
          &.no-entry {
            align-items: center;
          }
        }
        @media (min-width: 1600px) {
          & {
            max-width: 85%;
          }
          &.contain-switches {
            max-width: 100%;
          }
        }
        .title {
          margin-left: 24px;
          font-weight: 700;
          font-size: 1.3em;
        }
        .axis-group {
          text {
            font-size: 12px;
            font-weight: 600;
          }
          .axis.left {
            text {
              transform: translateX(-4px);
            }
          }
          .axis.bottom {
            text {
              transform: translateY(38px) translateX(-14px) rotate(-90deg);
            }
          }
        }
        legend {
          margin-left: 42px;
          margin-top: 8px;
          font-size: 14px;
          font-weight: 600;
          .icon {
            width: 20px;
            height: 4px;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            top: -4px;
            &.CDC {
              border-bottom: 2px $color-orange-light solid;
            }
            &.WA {
              border-bottom: 2px $color-red-darker solid;
            }
          }
        }
      }
      .panels {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: auto;
        gap: 16px;
        .sub-panels {
          flex: 1 1;
          max-width: 100%;
        }
      }
      @media (min-width: 992px) {
        .panels {
          flex-wrap: nowrap;
          .sub-panels {
            flex: 0.95 1;
          }
        }
      }
      .panel.alerts,
      .panel.rxsummary,
      .panel.surveysummary {
        align-self: stretch;
        display: flex;
        width: 100%;
      }

      .sub-section__panel {
        display: block;
        justify-content: flex-start;
        align-items: center;
        color: $color-black;
        flex-wrap: wrap;
        padding: 0 16px 8px;
        flex: 1 1;
        align-self: stretch;
        .sub-section__infopanel {
          border: 2px solid;
          padding: 12px;
          margin-bottom: 8px;
          width: 100%;
          // width: 480px;
          .panel-title {
            font-weight: 700;
            margin-bottom: 8px;
            font-size: 1.3em;
            text-align: left;
          }
          .title {
            font-weight: 700;
          }
          .content {
            font-size: 0.9em;
          }
          .stats-container {
            .content {
              text-transform: capitalize;
            }
            .divider {
              display: inline-block;
              margin-left: 8px;
              margin-right: 8px;
            }
            .table {
              width: 100%;
              border-collapse: collapse;
              tr {
                &:not(:last-of-type) {
                  border-bottom: 1px solid $color-gray-lightest;
                }
              }
              caption {
                font-weight: 700;
                margin-bottom: 12px;
                font-size: 1.25rem;
                text-align: left;
              }
              th {
                text-align: left;
                vertical-align: middle;
                padding-right: 4px;
                border-bottom: 2px solid $color-blue;
              }
              .Class_cell {
                padding-right: 16px;
                padding-bottom: 4px;
              }
              td:not(:first-of-type) {
                text-align: center;
                vertical-align: bottom;
              }
              //   tr:first-of-type {
              //     td {
              //       padding-top: 6px;
              //     }
              //   }
            }
          }
          .alerts-container {
            a,
            .no-anchor {
              text-decoration: none;
              font-weight: 600;
              display: flex;
              align-items: flex-start;
              margin-bottom: 8px;
              color: $color-black;
              border-bottom: 0;
              line-height: 1.4;
              column-gap: 8px;
              &:hover {
                color: $color-black-darker;
                cursor: pointer;
              }
            }
            .flag {
              color: $color-red-darker;
              font-size: 28px;
              min-width: 28px;
              &.info {
                color: $color-info;
              }
              &.warning {
                color: $color-warning;
              }
              &.warning-light {
                color: $color-warning-light;
              }
              &:hover {
                color: $color-red;
                cursor: pointer;
              }
              &.info:hover {
                color: $color-info;
                cursor: auto;
              }
            }
          }
        }
      }

      .graph {
        .stats-container {
          display: grid;
          grid-template-columns: 50% 50%;
          margin-left: 16px;
          margin-right: 16px;
          margin-bottom: 16px;
          font-size: 14px;
          padding: 8px 16px;
          border: 2px solid $color-gray-lighter;
          min-height: 36px;
          position: relative;
          &.include-title {
            min-height: 56px;
          }
          .stats-item {
            margin-bottom: 4px;
          }
          .title {
            margin-right: 8px;
            margin-right: 8px;
            margin-left: 0;
            font-size: 0.9rem;
            font-weight: normal;
          }
          .description {
            font-weight: 600;
          }
        }
      }

      @media (min-width: 992px) {
        .sub-section__panel {
          display: flex;
          flex-wrap: nowrap;
          &:has(.no-entry) {
            overflow: hidden;
          }
          .panel-overview {
            margin-left: 24px;
          }
          .panel.graph {
            flex: 1;
            align-self: stretch;
            min-width: 480px;
            &:has(.contain-switches) {
              min-width: 640px;
            }
          }
        }
      }
      .sub-section {
        background-color: $color-white;
        box-shadow: 1px 2px 2px $color-box-shadow;
        margin: 0;

        &:not(.sub-section-notitle) {
          margin: -12px 0 0;
          &:first-of-type {
            margin: -20px 0 0;
          }
        }

        .info-icon {
          margin-left: 24px;
          opacity: 0.9;
          font-size: 0.85em;
          color: $link-color;
          cursor: pointer;
          font-weight: 600;
          min-width: 90px;
          margin-bottom: 8px;
          display: inline-block;
          &:hover {
            color: $link-color-dark;
          }
        }
        .video-container {
          margin-top: 12px;
          max-width: 50%;
          margin-bottom: 8px;
        }
        .video-link {
          border-bottom: 1px solid $link-border-color;
          cursor: pointer;
          font-weight: 600;
          color: $link-color;
        }
        .link-container {
          margin-bottom: 4px;
          .info {
            font-size: 12px;
            margin-left: 10px;
          }
          .title {
            border-bottom: 1px solid $link-border-color;
          }
          .subtitle-container {
            margin-left: 12px;
            margin-top: 4px;
            font-weight: 400;
          }
        }
        .link-toggle {
          margin-left: 6px;
          cursor: pointer;
          opacity: 0.9;
          vertical-align: -0.17em;
          font-size: 0.85em;
          color: $link-color;
          transform-origin: center;
          transform: rotate(-90deg);
          transition: transform 350ms ease;
          &.open {
            transform: rotate(0);
          }
        }
        .no-entries {
          padding: 8px 0 8px;
          font-style: italic;
          color: $color-gray-light;
          margin-left: 24px;

          .flag-text {
            font-style: normal;
            margin-top: 8px;
            margin-left: 24px;
            padding: 8px 0;
            display: inline-block;
            color: $color-gold;
            font-size: 0.95em;
          }
          .guideline-wrapper {
            margin-left: 0;
            padding-bottom: 0;
          }
          .flag-guideline-content {
            margin-top: 12px;
            .flag {
              color: $color-red;
            }
            .guideline-content {
              margin-top: 12px;
              font-style: normal;
              // .CDC .text {
              //   color: $color-orange;
              // }
              // .WA .text {
              //   color: $color-red-darker;
              // }
            }
          }
        }

        &.sub-section-notitle {
          padding-top: 8px;
          .single-column {
            .rt-tbody {
              margin-top: -8px;
            }
          }
          &:first-of-type {
            padding-bottom: 0;
          }
          &:first-of-type {
            padding-top: 12px;
          }
          .sub-section__header {
            display: none;
          }
        }

        &__header {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-gray-lighter;
          padding: 12px 24px;
          font-weight: 700;
          margin-bottom: 8px;
          .flag-nav {
            display: none;
          }
        }

        .table {
          padding-left: 8px;
          padding-top: 8px;
          padding-bottom: 12px;
          &:has(.no-entries) {
            padding-left: 0;
          }
          td {
            vertical-align: bottom;
            line-height: 1.6;
          }
          .icon-container {
            position: relative;
            top: 6px;
          }
          .single-column {
            .rt-th:nth-child(1),
            .rt-td:nth-child(1),
            td:nth-child(1) {
              width: 0 !important;
              border: 0;
            }
            .rt-th:nth-child(2),
            .rt-td:nth-child(2),
            td:nth-child(2) {
              width: calc(100% - 160px) !important;
              border-width: 0 1px 0 0;
            }
          }
          .sub-section__table {
            border: 0;
            &.bordered {
              .rt-tr-group:first-of-type {
                margin-top: 6px;
                .rt-td {
                  border-top: 1px solid $color-gray-lightest;
                }
              }
              .rt-tr-group .rt-td {
                border-right: 1px solid $color-gray-lightest;
                border-bottom: 1px solid $color-gray-lightest;
              }
            }

            .sectionList {
              list-style-type: none;
              padding: 0;
              margin: 0;
              b {
                font-weight: 600;
                display: inline-block;
                margin-right: 8px;
              }
            }

            .call-to-action-link {
              display: inline-block;
              font-weight: 600;
              font-size: 1.05em;
              .title {
                border-bottom: 0;
              }
            }

            .rt-th:first-child,
            .rt-td:first-child {
              max-width: 32px;
              padding: 0;
            }

            &.report-table {
              .rt-th:first-child:has(div:empty),
              .rt-td:first-child:has(div:empty),
              .rt-th:first-child:empty,
              .rt-td:first-child:empty {
                width: 0 !important;
                max-width: 0 !important;
              }
            }

            .rt-th:nth-child(2),
            .rt-td:nth-child(2),
            th:nth-child(2),
            td:nth-child(2) {
              min-width: calc(52px + 10vw);
            }
            &.single-column {
              .rt-th:nth-child(2),
              .rt-td:nth-child(2),
              td:nth-child(2) {
                min-width: calc(100% - 160px);
                max-width: calc(100% - 160px);
              }
            }

            .flag-entry {
              font-size: 1em;
              margin-left: 16px;
              padding-top: 8px;
              color: transparent;
              cursor: default;

              &.flagged {
                color: $color-red;
                &.warning {
                  color: $color-warning;
                }
                &.warning-light {
                  color: $color-warning-light;
                }
              }
            }
          }
        }
      }
    }

    .flag-no-entry {
      margin-right: 12px;
      font-size: 1em;
      // &.CDC {
      //   .flag {
      //     color: $color-orange-light;
      //   }
      // }
      // &.WA {
      //   .flag {
      //     color: $color-red-darker;
      //   }
      // }
    }
    .sub-section {
      .guideline-wrapper {
        margin-left: 40px;
        padding-bottom: 20px;
        font-size: 0.95em;
        line-height: 1.5;
        .title {
          font-weight: 600;
        }
      }
    }
    .cdc-disclaimer {
      margin: 8px 24px 0 24px;
      position: relative;
      .title {
        font-weight: 700;
      }
      &.data-source {
        margin-top: 16px;
        .title {
          display: inline-block;
        }
        .content {
          box-shadow: 1px 2px 2px $color-box-shadow;
          border-top: 1px solid $color-gray-lightest;
          border-left: 1px solid $color-gray-lightest;
          line-height: 1.5;
          background-color: #fff;
          padding: 8px 16px 16px;
          margin-top: 8px;
        }
        .close-button {
          position: relative;
          left: 4px;
          color: $link-color;
          cursor: pointer;
          font-weight: 600;
          background-color: transparent;
          border: 0;
          transition: transform 350ms ease;
          transform: rotate(0);
        }
        &.close {
          // .close-button {
          //   transform: rotate(-90deg);
          // }
          .content {
            display: none;
          }
        }
      }

      a {
        margin: 0 5px;
      }
    }
    .legend {
      margin: 10px 40px 20px 40px;
      line-height: 1.6;
      .icon {
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        position: relative;
        top: -4px;
        margin-right: 8px;
        &.red {
          background: $color-red-darker;
        }
        &.orange {
          background: $color-orange-light;
        }
      }
    }

    .data-provenance {
      font-size: 0.9em;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 4px;
      cursor: pointer;

      .title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        .error {
          vertical-align: top;
        }
      }
      .query-text {
        display: inline-block;
        position: relative;
        top: -4px;
      }
      .content {
        box-shadow: 1px 2px 2px $color-box-shadow;
        background: #fff;
        transition: all 0.35s ease-in-out;
        line-height: 0;
        padding: 0 36px;
        overflow: hidden;
        opacity: 0;
        height: 0;
        &.display {
          line-height: 1.55;
          padding: 16px 36px;
          opacity: 1;
          height: auto;
        }
        b {
          font-weight: 600;
        }
        .error {
          margin-top: 8px;
          margin-bottom: 8px;
        }
        .flag-text {
          color: $color-red-darker;
          margin-bottom: 8px;
          font-weight: 600;
        }
      }
      button {
        background-color: transparent;
        color: $link-color;
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;
        margin-bottom: 8px;
        margin-right: 4px;
        margin-left: 8px;
        opacity: 0.8;
        padding: 0;

        .text {
          color: $color-black;
        }
        &:hover {
          color: $link-color-dark;
        }

        &:focus {
          outline: none;
        }
      }
    }
    .disclaimers-container {
      margin-top: 24px;
    }

    .dev-tools {
      margin: 8px 24px;

      &__disclaimer {
        margin-top: -12px;
      }

      button {
        background-color: transparent;
        color: $link-color;
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;
        &:hover {
          color: $link-color-dark;
        }

        &:focus {
          outline: none;
        }
      }

      .cql-errors,
      .fhir-queries,
      .cql-results,
      .pdmp-results,
      .occupation-results,
      .other-results {
        margin-left: 40px;
      }

      .fhir-query,
      .cql-results div,
      .pdmp-results div,
      .occupation-results div,
      .cql-errors table {
        margin-left: 40px;
        background-color: $color-white;
        padding: 10px 20px;
        width: 50vw;
        overflow: scroll;
      }
    }
  }
}
.summary-tooltip {
  font-size: 1em;
}
.tooltip-rect,
.tooltip-text {
  position: relative;
  z-index: 100;
}

.red {
  .flagged {
    color: $color-red-darker !important;
  }
}
.orange {
  .flagged {
    color: $color-orange-light !important;
  }
}
//.has-tabs {
.summary {
  &__nav {
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
//}
.has-tabs {
  .summary__nav-wrapper .is-position-fixed ~ .close {
    top: calc(#{$min-header-height} + 56px);
  }
  .summary__nav.is-position-fixed {
    top: 162px;
  }
  .report {
    .summary__nav.is-position-fixed {
      top: 140px;
    }
  }
}
.active {
  .summary__nav-wrapper {
    display: none;
    @media (min-width: $md-media-query-width) {
      & {
        display: block;
      }
    }
  }
}
