.banner {
  text-align: center;
  padding: 20px;

  &__linkContainer {
    margin-top: 8px;
  }

  &.error {
    background-color: lighten($color-red, 15%);
    color: darken($color-red, 15%);
  }

  &.warning {
    background-color: lighten($color-yellow, 25%);
    color: $color-gray-dark;
  }

  &.inclusion-banner,
  &.exclusion-banner {
    padding: 12px 56px 12px 24px;
    text-align: left;
    background-color: $color-beige;
    position: relative;
    &.warning {
      background-color: $color-red-darker;
    }

    &__tag {
      margin-bottom: 20px;
    }

    strong {
      color: $color-orange;
    }
    &.warning {
      strong {
        color: #FFF;
      }
    }
    .title {
      margin-right: 4px
    }

    .warning-inside {
      width: 450px;
      background-color: lighten($color-orange, 52%);
      color: $color-orange;
      padding: 10px;
      font-weight: 600;
    }
    .close-button {
      position: absolute;
      right: 24px;
      color: $color-gold-light;
      font-size: 1.2em;
      cursor: pointer;
      transition: transform 350ms ease;
      transform: rotate(0);
    }
    .content {
      display: inline;
    }
    &.close {
      .close-button {
        transform: rotate(-90deg);
      }
      .content {
        display: none;
      }
    }
  }

  &.exclusion-banner {
    font-size: 1.1em;
    .close-button {
      margin-right: 12px;
    }
  }

  .exclusion-banner,
  .inclusion-banner {
    &__description {
      color: $color-black;
      &.warning {
        color: #FFF;
        font-weight: 600;
      }
    }
  }
}

.error-banner {
  background-color: $color-red-darker;
  color: #FFF;
  position: relative;
  padding: 8px 24px 8px;
  font-weight: 600;
  .error-banner__title {
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    letter-spacing: 0.02rem;
    .icon {
      margin-right: 2px;
    }
  }
  .error-banner__description {
    display: block;
    padding-right: 48px;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 40px;
    transform: rotate(0);
    transition: transform 300ms ease;
    z-index: 100;
    cursor: pointer;
  }
  &.close {
    .error-banner__description {
      display: none;
    }
    .close-button {
      transform: rotate(-90deg);
    }
  }
}
.system-banner {
  background-color: $color-orange-translucent;
  color: $color-black-darker;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
