.banner {
  text-align: center;
  padding: 20px;

  &.error {
    background-color: lighten($color-red, 15%);
    color: darken($color-red, 15%);
  }

  &.warning {
    background-color: lighten($color-yellow, 25%);
    color: $color-gray-dark;
  }

  &.inclusion-banner,
  &.exclusion-banner {
    padding: 20px 28px 20px 24px;
    margin-bottom: 4px;
    text-align: left;
    background-color: $color-beige;

    &__tag {
      margin-bottom: 20px;
    }

    strong {
      color: $color-orange;
    }

    .warning-inside {
      width: 450px;
      background-color: lighten($color-orange, 52%);
      color: $color-orange;
      padding: 10px;
      font-weight: 600;
    }

    .close-button {
      float: right;
      color: $color-gray-dark;
      font-size: 1.2em;
      cursor: pointer;
      transition: transform 350ms ease;
      transform: rotate(0);
    }
    .content {
      display: block;
    }
    &.close {
      .close-button {
        transform: rotate(-90deg);
      }
      .content {
        display: none;
      }
    }
  }

  &.exclusion-banner {
    font-size: 1.1em;
    .close-button {
      margin-right: 12px;
    }
  }

  .exclusion-banner,
  .inclusion-banner {
    &__description {
      color: $color-black;
    }
  }
}
