@use 'variables' as *;
.banner {
  text-align: center;
  padding: 20px;
  //width: 100%;

  &__linkContainer {
    margin-top: 8px;
  }

  &.error {
    background-color: $color-red-lightest;
    color: $color-red-darker;
  }

  &.warning {
    background-color: $color-yellow-lighter;
    color: $color-gray-dark;
  }
  
  &.alert-banner:not(:first-of-type) {
    border-top: 1px solid #edebeb;
  }

  &.inclusion-banner,
  &.exclusion-banner,
  &.alert-banner {
    padding: 10px 56px 10px 20px;
    text-align: left;
    background-color: $color-beige-light;
    &.alert-banner {
      background-color: $color-red-bg-color;
    }
    position: relative;
    .info-icon {
      color: $link-color;
      cursor: pointer;
      font-size: 0.95rem;
      font-weight: 900;
      &:hover {
        color: $link-color-dark;
      }
    }
    &.warning {
      background-color: $color-red-darker;
    }

    &__tag {
      margin-bottom: 20px;
    }

    strong {
      color: $color-orange;
    }
    &.warning {
      strong {
        color: #FFF;
      }
    }
    &.alert-banner {
      strong {
        color: $color-red-darkest;
        svg {
          color: $color-red-darker;
        }
      }
    }
    .title {
      margin-right: 4px;
      svg {
        font-size: 1.1rem;
      }
    }

    .warning-inside {
      width: 450px;
      background-color:  $color-orange;
      color: #FFF;
      padding: 10px;
      font-weight: 600;
    }
    .close-button {
      position: absolute;
      right: 24px;
      color: $color-gold-light;
      font-size: 1.2em;
      cursor: pointer;
      transition: transform 350ms ease;
      transform: rotate(0);
    }
    .content {
      max-height: 800px; /* approximate max height */
      overflow-y: hidden;
      line-height: 1.45;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      strong {
        color: #444;
      }
    }
    &.close {
      .close-button {
        transform: rotate(-90deg);
      }
      .content {
        max-height: 0;
      }
    }
  }

  &.alert-banner,
  &.exclusion-banner {
    font-size: 1rem;
    .input {
      font-size: 0.95em;
      margin-top: 4px;
      margin-left: 20px;
    }
    .close-button {
      margin-right: 12px;
    }
  }

  .exclusion-banner,
  .inclusion-banner,
  .alert-banner {
    &__description {
      color: $color-black;
      &.warning {
        color: #FFF;
        font-weight: 600;
      }
    }
  }
}

.error-banner {
  background-color: $color-red-darker;
  color: #FFF;
  position: relative;
  padding: 8px 24px 8px;
  font-weight: 600;
  line-height: 1.3;
  .error-banner__title {
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    letter-spacing: 0.02rem;
    .icon {
      margin-right: 2px;
    }
  }
  .error-banner__description {
    display: block;
    padding-right: 48px;
    * {
      font-size: 1em !important;
      margin-block-start: 4px;
      margin-block-end: 4px;
    }
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 40px;
    transform: rotate(0);
    transition: transform 300ms ease;
    z-index: 100;
    cursor: pointer;
  }
  &.close {
    .error-banner__description {
      display: none;
    }
    .close-button {
      transform: rotate(-90deg);
    }
  }
}
.system-banner {
  background-color: $color-orange-translucent;
  color: $color-black-darker;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
