body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: $color-body;
  color: $color-gray-dark;
}
/*
 * handle fixed header
 */
body.fixed {
  .header {
    position: fixed;
    top: 0;
    z-index: 998;
    background: #FFF;
    width: 100%;
    box-shadow: 1px 1px 2px $color-gray-light;
  }
  .summary__nav {
    width: $summary-nav-width;
    &.is-position-fixed {
      padding: calc(#{$min-header-height} + 48px) 0 20px 0px !important;
    }
  }
  .summary {
    margin-top: $min-header-height;
  }
}
h3 {
  font-size: 1.2em;
}
h3:focus {
  outline: none;
}

a {
  color: $link-color;
  font-weight: 600;
}
.text-warning {
  color: $color-warning;
}
.text-success {
  color: $color-success;
}
.small {
  font-size: 14px;
  font-weight: 500;
}
.error {
  color: $color-red-darker;
}
