body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: $color-body;
  color: $color-gray-dark;
}
/*
 * handle fixed header
 */
body.fixed {
  .header {
    background: #FFF;
    box-shadow: 1px 1px 2px $color-gray-light;
  }
  .summary__nav {
    width: $summary-nav-width;
    &.is-position-fixed {
      padding: calc(#{$min-header-height} + 64px) 0 20px 0px !important;
    }
  }
}
#anchorTop {
  position: relative;
  top: 0;
}
h3 {
  font-size: 1.2em;
}
h3:focus {
  outline: none;
}

a {
  color: $link-color;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid $link-border-color;
}
.text-alert {
  color: $color-alert;
}
.text-warning {
  color: $color-warning;
}
.text-success {
  color: $color-success;
}
.text-bold {
  font-weight: 600;
}
.text-muted {
  color: $color-gray-dark;
}
.text-center {
  text-align: center !important;
}
.text-capitalize {
  text-transform: capitalize;
}
.small {
  font-size: 14px;
  font-weight: 500;
}
.error {
  color: $color-red-darker;
}
.hide {
  display: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}
.flex-start {
  justify-content: flex-start;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $color-blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 20px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 42px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
