.button-primary {
    padding: 12px 20px;
    background: $color-blue;
    color: #FFF;
    border-radius: 24px;
    border: 0;
    letter-spacing: 0.02rem;
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: 1px 1px 2px $color-box-shadow;
}
button.disabled {
    opacity: 0.5
}
