select {
    /* Reset Select */
    appearance: none;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    width: auto;
    color: $link-color;
    background-color: #FFF;
    background-image: none;
    cursor: pointer;
    border: 0;
    outline-width: 0;
    outline: none;
    &:hover {
      color: $link-color-dark;
    }
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: auto;
    min-width: 11.5rem;
    height: 1.8em;
    border-radius: 0.25em;
    overflow: hidden;
    border: 1px solid $link-border-color;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.45em;
    background-color: #FFF;
    color: $link-color;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: $link-color-dark;
  }
