@use 'variables' as *;
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-gray-lighter;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.disabled {
  .switch-slider {
    background-color: $color-gray-lighter !important;
    &:before {
      -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
      transform: translateX(0) !important;
    }
  }
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: $link-color;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px $link-color;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 32px;
}

.switch-slider.round:before {
  border-radius: 50%;
}
