$tab-background-color: #fffffff6;

.warpper{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  height: 100%;
}
.tab {
  cursor: pointer;
  padding:12px 20px;
  margin:0px 8px;
  background:$color-black;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem $color-black;
  min-width: 120px;
  text-align: center;
  letter-spacing: 0.08rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 8px 8px 0 0;
  text-transform: capitalize;
}
.tabs {
  padding-left: 16px;
  padding-right: 16px;
  &.hide {
    display: none;
  }
}
// .panels {
.tab-panels {
  background:$tab-background-color;
  width:100%;
  max-width: 100%;
  border-radius:3px;
 // overflow:hidden;
  padding:0;  
}
// .panel{
.tab-panel {
  display:none;
  animation: fadein .8s;
  &.active {
   // border-top: 2px solid $color-gray-lighter;
    box-shadow: inset 0 8px 10px -6px $color-gray-lighter;
    //height: calc(100vh - 36px);
  }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}

.tab-panel {
  display: none;
  &.active {
    display: block;
  }
}

.tabs {
  .tab.active {
    background:$tab-background-color;
    color:$color-black;
    border-top: 4px solid $color-blue;
  }
}
