.ReactTable * {
  box-sizing: inherit;
}
.sub-section {
  .ReactTable {
    td:first-of-type {
      // flag cell
      text-align: center;
    }
    &.single-column {
      td:first-of-type {
        flex: 0 !important;
        width: 0 !important;
      }
      td:last-of-type {
        flex: 1 1 auto;
      }
    }
  }
}

.ReactTable {
  width: 100%;
  border-spacing: 0;
  .col-header {
    display: inline-block;
    border-bottom: 3px solid $color-blue;
    padding: 0 16px 2px 0;
    font-weight: 600;
    white-space: nowrap;
  }

  .col-header-title {
    margin: 0;
    border-bottom: 1px solid $color-gray-lighter;
  }
  tbody {
    border: 0;
    overflow: hidden;

    tr {
      background: $color-white;

      &:hover {
        background-color: $color-blue-lighter;
      }
    }
  }

  .flag-entry:not(.flagged) {
    display: none;
    width: 0 !important;
  }
  .flagged {
    color: $color-red;
  }

  tbody td,
  thead th {
    text-align: left;
    vertical-align: top;
    border: 0;
    padding: 4px 8px 4px 4px;
  }

  thead th {
    white-space: nowrap;

    &:focus {
      border: 1px dotted gray;
    }
  }

  tbody td {
    white-space: normal;
    display: block;
    overflow: visible;
    line-height: 1.45;
  }
}

.pagination {
  border-top: 1px solid $color-gray-lighter;
  margin-top: 16px;
  padding: 8px 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  column-gap: 16px;
  input {
    height: 26px;
    text-align: center;
  }
  select {
    height: 32px;
  }
  .button {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
  }
}
