//-------------------------- Colors -----------------------------------------//
$color-body: #39373d;
$color-black: #37404e;
$color-black-darker: #282f39;
$color-white: #fff;
$color-blue: #217684;
$color-blue-lighter: #e6f1f3;
$color-blue-darker: #18555f;
$color-gray-dark: #64707e;
$color-gray: #6a797e;
$color-gray-light: #6a7888;
$color-gray-lighter: #d8d8d8;
$color-gray-lightest: #f3f6f9;
$color-yellow: #f8c855;
$color-red: #ecacac;
$color-red-dark: #e67171;
$color-red-darker: #a75454;
$color-red-lighter: #efcaca;
$color-orange: #ab4317;
$color-orange-light: #e09b1d;
$color-beige: #f9f3e3;
$color-gold: #85754d;
$color-gold-light: #bfbaad;
$color-uw: #4B2E83;
$color-uw-gray: #6a6171;
$color-uw-dark: #413e46;
$color-uw-light: hsla(260, 11%, 57%, 0.2);
$color-uw-icon: #6b5d88;
$color-box-shadow: #e2dfdf;
// ------------------------- PATHS ----------------------------------------- //
$fa-font-path: '/assets/fontawesome';
