//-------------------------- Colors -----------------------------------------//
$color-body: #39373d;
$color-black: #37404e;
$color-black-darker: #282f39;
$color-white: #fcfdfd;
$color-blue: #217684;
$color-blue-lighter: #e6f1f3;
$color-blue-light: #5b7a80;
$color-blue-dark: #1d6671;
$color-blue-darker: #18555f;
$color-blue-disabled: #83aab0;
$color-gray-dark: #124149;
$color-gray: #6a797e;
$color-gray-light: #58676a;
$color-gray-lighter: #d8d8d8;
$color-gray-lightest: #f3f6f9;
$color-yellow: #f8c855;
$color-yellow-lighter: #fbd888;
$color-red: #c78282;
$color-red-dark: #e67171;
$color-red-darker: #a75454;
$color-red-lighter: #efcaca;
$color-red-lightest: #fbe8e8;
$color-orange: #ab4317;
$color-orange-light: #e09b1d;
$color-orange-translucent: hsla(45, 96%, 54%, 0.5);
$color-beige: #f9f3e3;
$color-gold: #85754d;
$color-gold-light: #bfbaad;
$color-uw: #4B2E83;
$color-uw-gray: #6a6171;
$color-uw-dark: #413e46;
$color-uw-light: hsla(260, 11%, 57%, 0.2);
$color-uw-icon: #6b5d88;
$color-box-shadow: #e2dfdf;
$color-divider: #ecf1f2;
$color-info: #056dc5;
$color-info-light: #617f9a;
$color-warning-light:  #f5b237;
$color-warning: #df960e;
$color-warning-dark: #945f03;
$color-success: green;
$color-alert: #b70909;
$color-disabled: #909799;
$link-color:#0968b8;
$link-color-dark: #075899;
$link-border-color: #bfceda;
$table-cell-border-color: #f3f6f9;
$table-cell-border-dark-color: #777;
$table-cell-border-accent-color: #217684;
$summary-nav-bg-color: #64707e;
$min-header-height: 100px;
$min-header-height-include-tabs: 156px;
$summary-nav-width: 240px;
// ------------------------- PATHS ----------------------------------------- //
$fa-font-path: '/assets/fontawesome';
